body {
    font-family:Arial, sans-serif;
    background-color:White;
    color:Black;
}
hr {
    color:Black;
    background-color:Black;
    height:1px;
    border:0;
}
h1 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.625em;
}
h2 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.25em;
    white-space:nowrap;
}
table.summary {
    border-collapse:collapse;
    border:1px outset black;
}
table.summary th {
    background-color:#eeeeee;
    font-weight:bold;
    text-align:left;
    font-size:0.94em;
    white-space:nowrap;
    border:1px inset gray;
    padding: 3px;
}
table.summary td {
    text-align:right;
    white-space:nowrap;
    border:1px inset gray;
    padding: 3px 5px 3px 5px;
}
table.summary td.left {
    text-align:left;
}
table.summary th.left {
    text-align:left;
    font-weight:100;
}
table.summary td.f_path {
    font-size:0.875em;
    font-family:Consolas, 'DejaVu Sans Mono', 'Droid Sans Mono', Monaco, Monospace;
    white-space:normal;
    word-wrap:break-word;
    max-width:57em;
}
table.summary td.value {
    padding-left:10px;
}
table.highlight tr:hover {
    background-color:#E0E0E0;
}
td.passed, tr.passed {
    background-color:#CCFFCC;
}
td.warning, tr.warning {
    background-color:#F4F4AF;
}
td.renamed, tr.renamed {
    background-color:#FFDAA3;
}
td.moved, tr.moved {
    background-color:#FFDAA3;
}
td.failed, tr.failed {
    background-color:#FFC3CE;
}
td.new, tr.new {
    background-color:#C6DEFF;
}
a.default {
    color:#336699;
}
div.p_list {
    padding-left:10px;
    color:#333333;
    font-size:0.94em;
}
.top_ref {
    font-size:0.69em;
}
.footer {
    font-size:0.75em;
}
