body {
    font-family:Arial, sans-serif;
    font-size:11px;
    background-color:White;
    color:Black;
}
hr {
    color:Black;
    background-color:#c0c0c0;
    height:1px;
    border:0;
}
h1 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.625em;
}
h2 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.25em;
    white-space:nowrap;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
table.summary.report-files tr td {
    border-bottom: 1px solid #e8e8e8;
}
div.dataTables_wrapper {
    margin-bottom: 40px;
}
table.summary.report-files td {
    text-align: center;
}
table.summary td.f_path {
    text-align: left;
    font-size:0.875em;
    font-family:Consolas, 'DejaVu Sans Mono', 'Droid Sans Mono', Monaco, Monospace;
    white-space:normal;
    word-wrap:break-word;
    width:70%;
}
td.passed, tr.passed {
    background-color:#CCFFCC;
}
td.warning, tr.warning {
    background-color:#F4F4AF;
}
td.renamed, tr.renamed {
    background-color:#FFDAA3;
}
td.moved, tr.moved {
    background-color:#FFDAA3;
}
td.failed, tr.failed {
    background-color:#FFC3CE;
}
td.left {
    background-color: inherit !important;
}
td.new, tr.new {
    background-color:#C6DEFF;
}
a.default {
    color:#336699;
}
div.p_list {
    padding-left:10px;
    color:#333333;
}
input[type="search"] {
    outline: none;
    border: 1px solid #c0c0c0;
    padding: 5px;
    width: 250px;
    margin-bottom: 5px;
}
table.summary.report-files th {
    background-color: #f8f8f8;
    border-top: 1px solid #000000;
}
table.summary {
    margin-bottom: 20px;
}
table.summary.report-files {
    margin-bottom: 5px;
}
th.left, td.left {
    text-align: left;
    padding-right: 20px;
}
table.summary.changes th, table.summary.changes td {
    text-align: center;
}
table.summary.changes th.left, table.summary.changes td.left {
    text-align: left;
}
table.legend td {
    text-align: center;
    width: 90px;
}
